# IAR Settings  
**/settings/*.crun  
**/settings/*.dbgdt  
**/settings/*.cspy  
**/settings/*.cspy.*  
**/settings/*.xcl  
**/settings/*.dni  
**/settings/*.wsdt  
**/settings/*.wspos  

# IAR Debug Exe  
**/Debug/Exe/*.sim  

# IAR Debug Obj  
**/Debug/Obj/*.pbd  
**/Debug/Obj/*.pbd.*  
**/Debug/Obj/*.pbi  
**/Debug/Obj/*.pbi.*